version: '3.8'

services:
  weaviate:
    image: semitechnologies/weaviate:1.28.2
    environment:
      CLUSTER_HOSTNAME: 'node1'
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
    ports:
      - "8080"
    volumes:
      - weaviate_data:/var/lib/weaviate
    networks:
      - app-network

  api:
    build: .
    ports:
      - "8000"
    volumes:
      - ./app:/app/app
      - deepface_weights:/root/.deepface
    environment:
      - WATCHFILES_FORCE_POLLING=true
      - PYTHONUNBUFFERED=1
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - weaviate
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "3001" # Tu consulteras ton React sur http://localhost:3000
    depends_on:
      - api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  weaviate_data:
  deepface_weights: