version: '3.8'

services:
  weaviate:
    image: semitechnologies/weaviate:1.28.2
    environment:
      CLUSTER_HOSTNAME: 'node1'
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
    volumes:
      - weaviate_data:/var/lib/weaviate
    networks:
      - kaapi-network

  api:
    build: .
    container_name: recogn-api
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
      - WEAVIATE_HOST=weaviate:8080
    volumes:
      - ./app:/app/app
      - deepface_weights:/root/.deepface
    networks:
      - kaapi-network
    # Si tu as besoin d'un domaine pour l'API (ex: api-recognition...) ajoute les labels ici

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: recogn-frontend
    restart: always
    environment:
      - NODE_ENV=production
      # L'URL de ton API pour le front-end
      - REACT_APP_API_URL=https://api-recognition.kortexai.dev 
    networks:
      - kaapi-network
    labels:
      - "traefik.enable=true"
      # Configuration pour ton domaine client
      - "traefik.http.routers.recogn-client.rule=Host(`client-recognition.kortexai.dev`)"
      - "traefik.http.routers.recogn-client.entrypoints=websecure"
      - "traefik.http.routers.recogn-client.tls.certresolver=letsencrypt"
      # IMPORTANT : Si ton Dockerfile frontend utilise Nginx, mets 80. 
      # Si c'est un serveur node (Next.js), garde 3000.
      - "traefik.http.services.recogn-frontend.loadbalancer.server.port=80"

networks:
  kaapi-network:
    external: true
    name: shapi-gufdth_kaapi-network

volumes:
  weaviate_data:
  deepface_weights: